﻿@model goLaundryWebApp.Models.ListGridView
@using System.Collections;
@using System.Xml;
@using System.Text;
@using System.Data;
@using System.Globalization;
@using goLaundryWebApp.Common


@{
    Layout = null;
}

@{
    Hashtable htLabels = new Hashtable();
    htLabels = GetLabelText(Model.GridView[Model.GridviewNo].GridViewModuleName, Model.GridView[Model.GridviewNo].GridViewSubModuleName);
}


@{
    if (Model.GridView[Model.GridviewNo].dtGridView != null && Model.GridView[Model.GridviewNo].dtGridView.Rows.Count > 0)
    {
    <div class="mod mod-table" data-t-name="Table">
        <table id="table_@Model.GridviewNo" class="table tableSet" cellspacing="0" rules="all" border="1" style="border-collapse:collapse;">
            <thead>
                @{
                    int colHeadCount = 0;
                    string strHeaderValue = "";
                    //int listOfColumnWidth = 0;
                }
                <tr>
                    @*if  grid has checkbox*@
                    @if (Model.GridView[Model.GridviewNo].IsCheckBoxRequired == "Y")
                    {
                        <th></th>
                    }

                    @for (int x = 0; x < Model.GridView[Model.GridviewNo].dtGridView.Columns.Count; x++)
                    {
                        //Get strHeaderValue freom xml mapping
                        if (htLabels.ContainsKey((object)Model.GridView[Model.GridviewNo].dtGridView.Columns[x].ColumnName))
                        {
                            strHeaderValue = htLabels[(object)Model.GridView[Model.GridviewNo].dtGridView.Columns[x].ColumnName] + "";
                        }
                        else
                        {
                            strHeaderValue = Model.GridView[Model.GridviewNo].dtGridView.Columns[x].ColumnName;
                        }

                        //if not hide
                        if (!Model.GridView[Model.GridviewNo].ColumnHide.Contains(colHeadCount))
                        {
                            <th valign="top" style="width:@Model.GridView[Model.GridviewNo].ColumnWidth[colHeadCount]">@strHeaderValue</th>
                        }
                        else //else if hide
                        {
                            <th style="display:none">@strHeaderValue</th>
                        }
                        colHeadCount++;
                    }

                    @*if req action*@
                    @if (Model.GridView[Model.GridviewNo].IsActionRequired == "Y")
                    {

                        <th style="width:10%">Action</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (int x = 0; x < Model.GridView[Model.GridviewNo].dtGridView.Rows.Count; x++)
                {
                    <tr>
                        @*if  grid has checkbox*@
                        @if (Model.GridView[Model.GridviewNo].IsCheckBoxRequired == "Y")
                        {
                            <td><input type="checkbox" name="tdCheckBox" class="clsCheckBox" row="@x" /></td>
                        }

                        @{
                            int colBodyCount = 0;
                            string colName = "";
                            string strBodyValue = "";
                        }

                        @foreach (DataColumn col in Model.GridView[Model.GridviewNo].dtGridView.Columns)
                        {
                            colName = col.ColumnName.ToString().ToLower();
                            strBodyValue = Convert.ToString(Model.GridView[Model.GridviewNo].dtGridView.Rows[x][col.ColumnName]);
                            //if not hide
                            if (!Model.GridView[Model.GridviewNo].ColumnHide.Contains(colBodyCount))
                            {
                                if (colName.Contains("%%"))
                                {
                                    DateTime date = DateTime.ParseExact(strBodyValue, "dd/MM/yyyy", CultureInfo.InvariantCulture);
                                    <td class="text-left"> @date.ToString("dd MMM yyyy")</td>
                                }
                                //else if (colName.Contains("sistatus"))
                                else if (new string[] { "sistatus" }.Any(s => colName.Contains(s)))
                                {
                                    string stat = CommonFunction.convertStatusToStr(Convert.ToBoolean(strBodyValue));
                                    <td class="text-left"> @stat</td>
                                }
                                else
                                {
                                    <td class="text-left">@strBodyValue</td>
                                }
                            }
                            else //hide
                            {
                                if (colName.Contains("%%"))
                                {
                                    DateTime date = DateTime.ParseExact(strBodyValue, "dd/MM/yyyy", CultureInfo.InvariantCulture);
                                    <td class="text-left" style="display:none"> @date.ToString("dd MMM yyyy") </td>
                                }
                                else
                                {
                                    <td class="text-left" style="display:none">@strBodyValue</td>
                                }
                            }
                            colBodyCount++;
                        }

                        @*if req action*@
                        @if (Model.GridView[Model.GridviewNo].IsActionRequired == "Y" && Model.GridView[Model.GridviewNo].actionSetup != "")
                        {
                            string[] arrParentactSetup = Model.GridView[Model.GridviewNo].actionSetup.Split('|');

                            <td>
                                <div class="row">
                                    @for (int y = 0; y < arrParentactSetup.Length; y++)
                                    {
                                        @Html.Raw(DynamicButton(arrParentactSetup[y].ToString()))
                                    }
                                </div>
                            </td>


                            @*<th style="width:10%">Action</th>*@
                            @*<td><div class="row">@Html.Raw(DynamicButton("Edit")) @Html.Raw(DynamicButton("View"))</div></td>*@
                        }
                    </tr>
                }
            </tbody>
        </table>

        <br>
        <div class="gridPaging noprint">
            @*<a id="Pager_1" href="#" class="active" onclick="getPageRecord('10','1','1','10','1','#','GridView/MultiGetList','dgvDashboard','0'); return false;">1</a>
            <a id="Pager_2" href="#" onclick="getPageRecord('10','1','11','20','2','#','GridView/MultiGetList','dgvDashboard','0'); return false;">2</a>
            <a href="#" onclick="RightArrowClick('20','11',' 101','110','#','GridView/MultiRightArrowClick','dgvDashboard','0');return false;">
                <span class="prevNextPages">NEXT</span>
            </a>
            <span>Displaying 1 - 10 of 1865</span>*@

            @{ 
                int ConstBreak = Model.GridView[Model.GridviewNo].ConstBreak;
                int PageSize = Model.GridView[Model.GridviewNo].Pagesize;
                int newI = Model.GridView[Model.GridviewNo].newI;
                int ConstRecordNo = Model.GridView[Model.GridviewNo].ConstRecordNo;
                string LeftArrow = Model.GridView[Model.GridviewNo].LeftArrow;
                string RightArrow = Model.GridView[Model.GridviewNo].RightArrow;
                int TotalPage = 0;
                //int totalRecord = Convert.ToInt32(Model.GridView[Model.GridviewNo].dtGridView.Rows[0]["RowNumber"]);
                int totalRecord = 100;
                int CurPage = Model.GridView[Model.GridviewNo].CurPage;
                string ControllerFunc = Model.GridView[Model.GridviewNo].ControllerFunc;
                string ControllerFuncLeft = Model.GridView[Model.GridviewNo].ControllerFuncLeft;
                string ControllerFuncRight = Model.GridView[Model.GridviewNo].ControllerFuncRight;
                string rowFrom = Model.GridView[Model.GridviewNo].rowFrom;
                string rowTo = Model.GridView[Model.GridviewNo].rowTo;
                string GridViewID = Model.GridView[Model.GridviewNo].GridViewID;

                if (totalRecord % PageSize != 0)
                {
                    TotalPage = (totalRecord / PageSize) + 1;
                }
                else
                {
                    TotalPage = (totalRecord / PageSize);
                }

                if (LeftArrow == "Y")
                {

                    <a href="#" onclick="LeftArrowClick('@(ConstBreak - 10)','@(newI - 10)',' @(((newI - 2) * PageSize) + 1)','@((newI - 1) * PageSize)','','@ControllerFuncLeft','@GridViewID','@Model.GridviewNo');return false;">
                        <span class="prevNextPages">PREV</span>
                    </a>
                }

                for (int i = newI; i <= TotalPage; i++)
                {
                    if (i > ConstBreak)
                    {
                        ConstBreak += 10;
                        newI = i;
                        break;
                    }

                    if (i == 1)
                    {
                        if (i == CurPage)
                        {

                            <a id='Pager_@i' href="#" class="active" onclick="getPageRecord('@ConstBreak','@newI','@(i)','@((i) * PageSize)','@i','','@ControllerFunc','@GridViewID','@Model.GridviewNo'); return false;">@i</a>
                        }
                        else
                        {

                            <a id='Pager_@i' href="#" onclick="getPageRecord('@ConstBreak','@newI','@(i)','@((i) * PageSize)','@i','','@ControllerFunc','@GridViewID','@Model.GridviewNo'); return false;">@i</a>
                        }

                    }
                    else
                    {
                        if (i == ConstBreak - 9)
                        {
                            if (i == CurPage)
                            {

                                <a id='Pager_@i' href="#" class="active" onclick="getPageRecord('@ConstBreak','@newI','@(((i - 1) * PageSize) + 1)','@((i) * PageSize)','@i','','@ControllerFunc','@GridViewID','@Model.GridviewNo'); return false;">@i</a>
                            }
                            else
                            {

                                <a id='Pager_@i' href="#" onclick="getPageRecord('@ConstBreak','@newI','@(((i - 1) * PageSize) + 1)','@((i) * PageSize)','@i','','@ControllerFunc','@GridViewID','@Model.GridviewNo'); return false;">@i</a>
                            }
                        }
                        else
                        {
                            if (i == CurPage)
                            {

                                <a id='Pager_@i' href="#" class="active" onclick="getPageRecord('@ConstBreak','@newI','@(((i - 1) * PageSize) + 1)','@((i) * PageSize)','@i','','@ControllerFunc','@GridViewID','@Model.GridviewNo'); return false;">@i</a>
                            }
                            else
                            {

                                <a id='Pager_@i' href="#" onclick="getPageRecord('@ConstBreak','@newI','@(((i - 1) * PageSize) + 1)','@((i) * PageSize)','@i','','@ControllerFunc','@GridViewID','@Model.GridviewNo'); return false;">@i</a>
                            }
                        }
                    }
                }

                if (RightArrow == "Y")
                {

                    <a href="#" onclick="RightArrowClick('@ConstBreak','@newI',' @(((newI - 1) * PageSize) + 1)','@((newI) * PageSize)','','@ControllerFuncRight','@GridViewID','@Model.GridviewNo');return false;">
                        <span class="prevNextPages">NEXT</span>
                    </a>
                }
                if (Convert.ToInt32(rowTo) >= Convert.ToInt32(totalRecord))
                {

                    <span>Displaying @(rowFrom) - @(totalRecord) of @(totalRecord)</span>

                }
                else
                {

                    <span>Displaying @(rowFrom) - @(rowTo) of @(totalRecord)</span>
                }
            }

        </div>
    </div>
    }
    else
    {
        <div>
            <span style="color:red">No Record Found</span>
        </div>
    }
}



@functions{
    public Hashtable GetLabelText(String strModuleName, string strSubModuleName)
    {
        //GeneralBLL objGeneralBLL = new GeneralBLL();
        XmlDocument objXmlResFile = new XmlDocument();

        //Load the xml Document
        //string strApplicationPath = HttpContext.Current.Server.MapPath(HttpContext.Current.Request.ApplicationPath);
        //strApplicationPath = strApplicationPath.Replace("\\", "//");
        objXmlResFile.Load(@"C:\Users\Muhammad Mirza\Documents\dev\goLaundryWebApp\goLaundryWebApp\wwwroot\xml\" + "HeaderGridView.xml");

        string strValue;
        string strKey;
        Hashtable hLabels = new Hashtable();
        //check if the cache has been loaded with xml document
        XmlNodeList nodeList;
        nodeList = objXmlResFile.SelectNodes("//ModuleName[@obj_id='" + strModuleName + "']/SubModuleName[@obj_id='" + strSubModuleName + "']/HeaderName");
        if (nodeList.Count > 0)
        {
            foreach (XmlNode node in nodeList)
            {
                strValue = (string)node.Attributes.GetNamedItem("HeaderId").InnerText;
                strKey = node.InnerText;
                hLabels.Add((object)strValue, (object)strKey);
            }
        }
        return hLabels;

    }

    public string DynamicButton(string actSetup)
    {
        StringBuilder SbButton = new StringBuilder();
        string[] arrActSetup = actSetup.Split(',');
        string ButtonName = arrActSetup[0].ToString();
        string ButtonValue = arrActSetup[1].ToString();
        string IconName = arrActSetup[2].ToString();
        string Url = arrActSetup[3].ToString();

        SbButton.Append("<div class='col-lg-4 col-md-4 col-xs-4 col-sm-4 actionPadding'>");
        SbButton.Append("<a class='ActionEdit tooltip--container' href=" + Url + ">");
        SbButton.Append("<span class='" + IconName + "'></span>");
        SbButton.Append("<span class='tooltip tooltip--above'>" + ButtonValue + "</span>");
        SbButton.Append("</a>");
        SbButton.Append("</div>");

        return SbButton.ToString();
    }

}
