﻿@using goLaundryWebApp.Common;
@using System.Data;
@using Newtonsoft.Json;
@using goLaundryWebApp.Models;
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@using System.Text;
@{
    var urlActionName = ViewContext.RouteData.Values["Action"].ToString();
    DataSet objSessionUserMenuPerm = new DataSet();
    if (!urlActionName.Equals("LogIn", StringComparison.InvariantCultureIgnoreCase))
    {
        //IHttpContextAccessor _httpContextAccessor;
        string menuSessStr = new sessionMenuPerm(HttpContextAccessor).GetMenu();
        objSessionUserMenuPerm = JsonConvert.DeserializeObject<DataSet>(menuSessStr);
    }

}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - goLaundryWebApp</title>

    <!-- CSS -->
    <link rel="stylesheet" href="~/css/select2.css" />
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    @if (!urlActionName.Equals("LogIn", StringComparison.InvariantCultureIgnoreCase))
    {
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
            <!-- ============================================================== -->
            <!-- Topbar header - style you can find in pages.scss -->
            <!-- ============================================================== -->

            <header class="topbar" data-navbarbg="skin5">
                <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                    <div class="navbar-header" data-logobg="skin5">
                        <a class="navbar-brand" href="#">
                            <!-- Logo icon -->
                            <b class="logo-icon ps-2">
                                <img src="~/images/logo-icon.png"
                                     alt="homepage"
                                     class="light-logo"
                                     width="25" />
                            </b>
                            <span class="logo-text ms-2">
                                <!-- dark Logo text -->
                                <img src="~/images/logo-text.png"
                                     alt="homepage"
                                     class="light-logo" />
                            </span>

                        </a>
                        <!-- ============================================================== -->
                        <!-- Toggle which is visible on mobile only -->
                        <!-- ============================================================== -->
                        <a class="nav-toggler waves-effect waves-light d-block d-md-none"
                           href="javascript:void(0)">
                            <i class="ti-menu ti-close"></i>
                        </a>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <div class="navbar-collapse collapse"
                         id="navbarSupportedContent"
                         data-navbarbg="skin5">
                        <!-- ============================================================== -->
                        <!-- toggle and nav items -->
                        <!-- ============================================================== -->
                        <ul class="navbar-nav float-start me-auto">
                            <li class="nav-item d-none d-lg-block">
                                <a class="nav-link sidebartoggler waves-effect waves-light"
                                   href="javascript:void(0)"
                                   data-sidebartype="mini-sidebar">
                                    <i class="mdi mdi-menu font-24"></i>
                                </a>
                            </li>
                            <!-- ============================================================== -->
                            <!-- create new -->
                            <!-- ============================================================== -->
                            <li class="nav-item dropdown">
                            </li>
                        </ul>
                        <!-- ============================================================== -->
                        <!-- Right side toggle and nav items -->
                        <!-- ============================================================== -->
                    </div>
                </nav>
            </header>
            <!-- ============================================================== -->
            <!-- End Topbar header -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Left Sidebar - style you can find in sidebar.scss  -->
            <!-- ============================================================== -->
            <aside class="left-sidebar" data-sidebarbg="skin5">
                <!-- Sidebar scroll-->
                <div class="scroll-sidebar">
                    <!-- Sidebar navigation-->
                    <nav class="sidebar-nav">
                        <ul id="sidebarnav" class="pt-4">
                            @*<li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                   href="index.html"
                   aria-expanded="false">
                    <i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span>
                </a>
            </li>
        <li class="sidebar-item">
            <a class="sidebar-link has-arrow waves-effect waves-dark"
               href="javascript:void(0)"
               aria-expanded="false">
                <i class="mdi mdi-receipt"></i><span class="hide-menu">Forms </span>
            </a>
            <ul aria-expanded="false" class="collapse first-level">
                <li class="sidebar-item">
                    <a href="form-basic.html" class="sidebar-link">
                        <i class="mdi mdi-note-outline"></i><span class="hide-menu"> Form Basic </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="form-wizard.html" class="sidebar-link">
                        <i class="mdi mdi-note-plus"></i><span class="hide-menu"> Form Wizard </span>
                    </a>
                </li>
            </ul>
        </li>*@
                            @Html.Raw(DynamicMenu(objSessionUserMenuPerm))
                        </ul>
                    </nav>
                    <!-- End Sidebar navigation -->
                </div>
                <!-- End Sidebar scroll-->
            </aside>

            <!-- ============================================================== -->
            <!-- End Left Sidebar - style you can find in sidebar.scss  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Page wrapper  -->
            <!-- ============================================================== -->
            <div class="page-wrapper">

                <div class="container-fluid">
                    @RenderBody()
                </div>

            </div>
            <!-- ============================================================== -->
            <!-- End Page wrapper  -->
            <!-- ============================================================== -->
        </div>
    }

    else
    {
        @RenderBody()
    }
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- Js/Jquery -->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.bundle.js"></script>
    <script src="~/js/perfect-scrollbar.jquery.js"></script>
    <script src="~/js/select2.full.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/sidebarmenu.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/jquery.inputmask.bundle.js"></script>
    <script src="~/js/mask.init.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

@functions{
    public string DynamicMenu(DataSet dsInp)
    {
        StringBuilder sideBarMenu = new StringBuilder();

        DataTable dtParent = dsInp.Tables[0];
        DataTable dtChild = dsInp.Tables[1];

        string menuUrlLink = "";
        string menuIcon = "";
        for (int i= 0; i < dtParent.Rows.Count; i++)
        {
            string pMenuName = dtParent.Rows[i]["vaMENUNAME"].ToString();
            menuUrlLink = dtParent.Rows[i]["vaURL"].ToString();
            menuUrlLink = menuUrlLink == "" ? "javascript:void(0)" : menuUrlLink;
            menuIcon = dtParent.Rows[i]["vaMENUICON"].ToString();

            sideBarMenu.Append("<li class='sidebar-item'>");
            sideBarMenu.Append("<a class='sidebar-link has-arrow waves-effect waves-dark' href='" + menuUrlLink + "' aria-expanded='false'><i class='" + menuIcon + "'></i><span class='hide-menu'>" + pMenuName + "</span></a>");

            bool printStartChild = true;
            bool printEndChild = false;
            for (int j = 0; j < dtChild.Rows.Count; j++)
            {
                string cMenuName = dtChild.Rows[j]["vaMENUNAME"].ToString();
                menuUrlLink = dtChild.Rows[j]["vaURL"].ToString();
                menuUrlLink = menuUrlLink == "" ? "javascript:void(0)" : menuUrlLink;
                menuIcon = dtChild.Rows[j]["vaMENUICON"].ToString();

                if (Convert.ToInt32(dtParent.Rows[i]["iMENU"]) == Convert.ToInt32(dtChild.Rows[j]["iPMENU"]) && Convert.ToBoolean(dtChild.Rows[j]["siIsShown"]))
                {
                    if (printStartChild)
                    {
                        printEndChild = true;
                        sideBarMenu.Append("<ul aria-expanded='false' class='collapse first-level'>");
                    }

                    sideBarMenu.Append("<li class='sidebar-item'><a href='" + menuUrlLink + "' class='sidebar-link'><i class='" + menuIcon + "'></i><span class='hide-menu'>" + cMenuName + "</span></a></li>");

                    printStartChild = false;
                }
            }
            if (printEndChild)
            {
                sideBarMenu.Append("</ul>");
            }

            sideBarMenu.Append("</li>");
        }

        return sideBarMenu.ToString();
    }
}
