﻿@model goLaundryWebApp.Models.AccountModel

<script src="~/js/sha.js"></script>
<div class="main-wrapper">
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div class="
        auth-wrapper
        d-flex
        no-block
        justify-content-center
        align-items-center
        bg-dark
    ">
        <div class="auth-box bg-dark border-top border-secondary">
            <div>
                <div class="text-center pt-3 pb-3">
                    <span class="db">
                        <img src="~/images/logo-icon.png" alt="homepage" class="light-logo" width="25" />
                        <span class="logo-text ms-2"> <img src="~/images/logo-text.png" alt="homepage" class="light-logo" /> </span>
                    </span>
                </div>
                <!-- Form -->
                <form id="loginForm" class="form-horizontal mt-3" action="Account/LogIn" method="post" onsubmit="doSubmit();">
                    <div class="row pb-4">
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-success text-white h-100"
                                          id="basic-addon1">
                                        <i class="mdi mdi-account fs-4"></i>
                                    </span>
                                </div>
                                @*<input type="text" class="form-control form-control-lg" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" required />*@
                                <input type="text" id="username" name="username" Class="form-control form-control-lg" placeholder="Username" />
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-warning text-white h-100"
                                          id="basic-addon2">
                                        <i class="mdi mdi-lock fs-4"></i>
                                    </span>
                                </div>
                                @*<input type="text" class="form-control form-control-lg" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" required />*@
                                <input type="password" id="password" name="password" Class="form-control form-control-lg" placeholder="Password" />
                            </div>
                        </div>
                    </div>
                    <div class="row border-top border-secondary">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="pt-3 d-grid">
                                    @*<input class="btn btn-block btn-lg btn-info"
                                        type="submit" value="LogIn" />*@
                                    <input type="submit" id="btnLogIn" name="btnLogIn" value="LogIn" Class="btn btn--primary text-center"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(".preloader").fadeOut();

        function doSubmit() {
            var pwdObj = document.getElementById('password');
            var hashObj = new jsSHA("SHA-512", "TEXT", { numRounds: 1 });
            hashObj.update(pwdObj.value);
            var hash = hashObj.getHash("HEX");
            pwdObj.value = hash;
            var form = document.getElementById("loginForm");
            form.submit();
        }
    </script>
}
