﻿@using goLaundryWebApp.Models
@model goLaundryWebApp.Models.CompanyModel
@{
    int pageMode = (int)TempData["pageMode"];
    int modeView = ConstantVar.PageModeView;
    string[] optionListIsActive = new string[] { "InActive", "Active" };
}

<div class="contentAndNav">
    <div class="panel">
        <h2 class="color-primary-04 bg-primary-03">@ViewData["Title"]</h2>
        <div class="mod--theme-secondary">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 textfield">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12 textfield">
                            <div>
                                Company Name<span class="asterisk">*</span>
                            </div>
                        </div>

                        <div class="col-lg-10 col-md-10 col-xs-12 col-sm-12 textfield">
                            <input type="hidden" id="compId" name="compId" value="@Model.compId" />
                            <input type="text" id="compName" name="compName" Class="form-control" value="@Model.compName" />
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 textfield">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12 textfield">
                            <div>
                                Branch<span class="asterisk">*</span>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-10 col-xs-12 col-sm-12 textfield">
                            <input type="text" id="branchName" name="branchName" Class="form-control" value="@Model.branchName" />
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 textfield">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-xs-12 col-sm-12 textfield">
                            Email<span class="asterisk">*</span>
                        </div>
                        <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12 textfield">
                            <input type="text" id="email" name="email" Class="form-control" value="@Model.email" />
                        </div>
                        <div class="col-lg-1 col-md-1 col-xs-12 col-sm-12 textfield">
                            Telephone No<span class="asterisk">*</span>
                        </div>
                        <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12 textfield">
                            <input type="text" id="telNo" name="telNo" Class="form-control" value="@Model.telNo" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 textfield">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-xs-12 col-sm-12 textfield">
                            Fax No<span class="asterisk">*</span>
                        </div>
                        <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12 textfield">
                            <input type="text" id="faxNo" name="faxNo" Class="form-control" value="@Model.faxNo" />
                        </div>
                        <div class="col-lg-1 col-md-1 col-xs-12 col-sm-12 textfield">
                            Address 1<span class="asterisk">*</span>
                        </div>
                        <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12 textfield">
                            <input type="text" id="add1" name="add1" Class="form-control" value="@Model.add1" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 textfield">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-xs-12 col-sm-12 textfield">
                            Address 2
                        </div>
                        <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12 textfield">
                            <input type="text" id="add2" name="add2" Class="form-control" value="@Model.add2" />
                        </div>
                        <div class="col-lg-1 col-md-1 col-xs-12 col-sm-12 textfield">
                            Address 3
                        </div>
                        <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12 textfield">
                            <input type="text" id="add3" name="add3" Class="form-control" value="@Model.add3" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 textfield">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-xs-12 col-sm-12 textfield">
                            Status<span class="asterisk">*</span>
                        </div>
                        @*<div class="col-lg-5 col-md-5 col-xs-12 col-sm-12 textfield">
            @if (pageMode == modeView)
            {
                <input type="text" id="strIsActive" name="strIsActive" Class="form-control" value="@Model.strIsActive" />
            }
            else
            {
        <select id="isActive" name="isActive" class="form-control js-select mandatory" value="@Convert.ToInt32(Model.isActive)">
            @for (int j = 0; j < optionListIsActive.Length; j++)
            {
                <option selected="@(Convert.ToInt32(Model.isActive)== j ? "selected" : null)" value="@j">@optionListIsActive[j].ToString()</option>
            }
        </select>
            }
        </div>*@
                        <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12 textfield">
                             <select id="isActive" name="isActive" class="form-control js-select mandatory" value="@Convert.ToInt32(Model.isActive)">
                                @for (int j = 0; j < optionListIsActive.Length; j++)
                                {
                                    <option selected="@(Convert.ToInt32(Model.isActive)== j ? "selected" : null)" value="@j">@optionListIsActive[j].ToString()</option>
                                }
                            </select>
                            
                        </div>
                        <div class="col-lg-1 col-md-1 col-xs-12 col-sm-12 textfield">

                        </div>
                        <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12 textfield">

                        </div>
                    </div>
                </div>
            </div>

            <br />
            <br />
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 textfield">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12 btnfield">
                            <input type="button" id="btnBack" name="btnBack" value="<< Go To List" Class="btn btn--secondary text-center" onclick="" />
                        </div>
                        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12 btnfield">
                            <input type="button" id="btnCreate" name="btnCreate" value="Create >>" Class="btn btn--primary text-center" onclick="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (pageMode == modeView)
{
    <div class="contentAndNav">
        <div class="panel">
            <h2 class="color-primary-04 bg-primary-03">Company Details</h2>
            <div class="mod--theme-secondary">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 textfield">
                        <div class="reminder">
                            Sub Company List
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        @await Component.InvokeAsync("GridPartial", new { GridViewNo = 0 })
                    </div>
                </div>
                <br />
                <br />

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 textfield">
                        <div class="reminder">
                            User List
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        @await Component.InvokeAsync("GridPartial", new { GridViewNo = 1 })
                    </div>
                </div>

            </div>
        </div>
    </div>

}

@section scripts {
    <script>
        var pageMode = '@pageMode';
        var modeView = '@ConstantVar.PageModeView';

        $(window).on( "load", function () {
            if (pageMode == modeView) {
                $('.asterisk').hide();
                $('.textfield > .form-control').prop('disabled', true);
                $('.btnfield > .btn').hide();
            }
        });
    </script>
}


