﻿
@{
    ViewData["Title"] = "List Company";
}


<div class="contentAndNav">
    <div class="panel">
        <h2 class="color-primary-04 bg-primary-03">@ViewData["Title"]</h2>
        <div class="mod--theme-secondary">

            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

                    @await Component.InvokeAsync("GridPartial")

                </div>
            </div>
        </div>
    </div>
</div>
