﻿@model goLaundryWebApp.Models.ListGridView
@using System.Collections;
@using System.Xml;
@using System.Text;
@using System.Data;
@using System.Globalization;
@using goLaundryWebApp.Common


@{
    Layout = null;
}

@{
    Hashtable htLabels = new Hashtable();
    htLabels = GetLabelText(Model.GridView[Model.GridviewNo].GridViewModuleName, Model.GridView[Model.GridviewNo].GridViewSubModuleName);
}


@{
    if (Model.GridView[Model.GridviewNo].dtGridView != null && Model.GridView[Model.GridviewNo].dtGridView.Rows.Count > 0)
    {
        <div class="mod mod-table" data-t-name="Table">
            <table id="table_@Model.GridviewNo" class="table tableSet" cellspacing="0" rules="all" border="1" style="border-collapse:collapse;">
                <thead>
                    @{
                        int colHeadCount = 0;
                        string strHeaderValue = "";
                        //int listOfColumnWidth = 0;
                    }
                    <tr>
                        @*if  grid has checkbox*@
                        @if (Model.GridView[Model.GridviewNo].IsCheckBoxRequired == "Y")
                        {
                            <th></th>
                        }

                        @for (int x = 0; x < Model.GridView[Model.GridviewNo].dtGridView.Columns.Count; x++)
                        {
                            //Get strHeaderValue freom xml mapping
                            if (htLabels.ContainsKey((object)Model.GridView[Model.GridviewNo].dtGridView.Columns[x].ColumnName))
                            {
                                strHeaderValue = htLabels[(object)Model.GridView[Model.GridviewNo].dtGridView.Columns[x].ColumnName] + "";
                            }
                            else
                            {
                                strHeaderValue = Model.GridView[Model.GridviewNo].dtGridView.Columns[x].ColumnName;
                            }

                            //if not hide
                            if (!Model.GridView[Model.GridviewNo].ColumnHide.Contains(colHeadCount))
                            {
                                <th style="width:@Model.GridView[Model.GridviewNo].ColumnWidth[colHeadCount]">@strHeaderValue</th>
                            }
                            else //else if hide
                            {
                                <th style="display:none">@strHeaderValue</th>
                            }
                            colHeadCount++;
                        }

                        @*if req action*@
                        @if (Model.GridView[Model.GridviewNo].IsActionRequired == "Y")
                        {

                            <th style="width:10%">Action</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (int x = 0; x < Model.GridView[Model.GridviewNo].dtGridView.Rows.Count; x++)
                    {
                    <tr>
                        @*if  grid has checkbox*@
                        @if (Model.GridView[Model.GridviewNo].IsCheckBoxRequired == "Y")
                        {
                            <td><input type="checkbox" name="tdCheckBox" class="clsCheckBox" row="@x" /></td>
                        }

                        @{
                            int colBodyCount = 0;
                            string colName = "";
                            string strBodyValue = "";
                        }

                        @foreach (DataColumn col in Model.GridView[Model.GridviewNo].dtGridView.Columns)
                        {
                            colName = col.ColumnName.ToString().ToLower();
                            strBodyValue = Convert.ToString(Model.GridView[Model.GridviewNo].dtGridView.Rows[x][col.ColumnName]);
                            //if not hide
                            if (!Model.GridView[Model.GridviewNo].ColumnHide.Contains(colBodyCount))
                            {
                                if (colName.Contains("dt"))
                                {
                                    DateTime date = DateTime.ParseExact(strBodyValue, "dd/MM/yyyy", CultureInfo.InvariantCulture);
                                    <td class="text-left"> @date.ToString("dd MMM yyyy")</td>
                                }
                                else if (colName.Contains("isActive"))
                                {
                                    string stat = CommonFunction.convertStatusToStr(Convert.ToBoolean(strBodyValue));
                                    <td class="text-left"> @stat</td>
                                }
                                else
                                {
                                    <td class="text-left">@strBodyValue</td>
                                }
                            }
                            else //hide
                            {
                                if (colName.Contains("dt"))
                                {
                                    DateTime date = DateTime.ParseExact(strBodyValue, "dd/MM/yyyy", CultureInfo.InvariantCulture);
                                    <td class="text-left" style="display:none"> @date.ToString("dd MMM yyyy") </td>
                                }
                                else
                                {
                                    <td class="text-left" style="display:none">@strBodyValue</td>
                                }
                            }
                            colBodyCount++;
                        }

                        @*if req action*@
                        @if (Model.GridView[Model.GridviewNo].IsActionRequired == "Y")
                        {

                            @*<th style="width:10%">Action</th>*@
                            <td><div class="row">@Html.Raw(DynamicButton(""))</div></td>
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div>
            <span style="color:red">No Record Found</span>
        </div>
    }
}



@functions{
    public Hashtable GetLabelText(String strModuleName, string strSubModuleName)
    {
        //GeneralBLL objGeneralBLL = new GeneralBLL();
        XmlDocument objXmlResFile = new XmlDocument();

        //Load the xml Document
        //string strApplicationPath = HttpContext.Current.Server.MapPath(HttpContext.Current.Request.ApplicationPath);
        //strApplicationPath = strApplicationPath.Replace("\\", "//");
        objXmlResFile.Load(@"C:\Users\Muhammad Mirza\Documents\dev\goLaundryWebApp\goLaundryWebApp\wwwroot\xml\" + "HeaderGridView.xml");

        string strValue;
        string strKey;
        Hashtable hLabels = new Hashtable();
        //check if the cache has been loaded with xml document
        XmlNodeList nodeList;
        nodeList = objXmlResFile.SelectNodes("//ModuleName[@obj_id='" + strModuleName + "']/SubModuleName[@obj_id='" + strSubModuleName + "']/HeaderName");
        if (nodeList.Count > 0)
        {
            foreach (XmlNode node in nodeList)
            {
                strValue = (string)node.Attributes.GetNamedItem("HeaderId").InnerText;
                strKey = node.InnerText;
                hLabels.Add((object)strValue, (object)strKey);
            }
        }
        return hLabels;

    }

    public string DynamicButton(string Action)
    {
        StringBuilder SbButton = new StringBuilder();
        string IconName = "fas fa-edit";
        string ButtonName = "Edit";
        string Url = "#";

        SbButton.Append("<div class='col-lg-4 col-md-4 col-xs-4 col-sm-4 actionPadding'>");
        SbButton.Append("<a class='ActionEdit tooltip--container' href=" + Url + ">");
        SbButton.Append("<span class='" + IconName + "'></span>");
        SbButton.Append("<span class='tooltip tooltip--above'>" + ButtonName + "</span>");
        SbButton.Append("</a>");
        SbButton.Append("</div>");

        return SbButton.ToString();
    }

}
