﻿
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <div class="mod mod-table" data-t-name="Table">
            <table class="table" cellspacing="0" rules="all" border="1" style="border-collapse:collapse;">
                <colgroup><col style="width: 5%;"><col style="width: 55%;"><col style="width: 40%;"></colgroup>
                <thead>
                    <tr>
                        <th>No . </th>
                        <th>User Name</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>User 1</td>
                        <td>Active</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>User 2</td>
                        <td>Active</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>